<% layout('layouts/boilerplate')%>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%=blankUserProfile%>" class="img-fluid rounded-start" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%=dbUser.fullname%></h5>
          <p class="card-text"><%=dbUser.bio%></p>
          <p class="card-text"><small class="text-muted"><%=dbUser.location%></small></p>
        </div>
      </div>
    </div>
</div>
<!-- data-masonry='{"percentPosition": true}' style="position: relative;" -->
<div class="row mt-3 mb-3" data-masonry='{"percentPosition": true}' style="position: relative;">
    <% for (let artpiece of artpieces) {%>
        <% console.log(artpiece)%>
        <% if (dbUser && artpiece.owner.equals(dbUser._id)){ %>
            <% console.log(dbUser._id)%>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card" style="width:18rem;">
            <img class="card-img-top" alt="" src="<%=artpiece.images[0].url%>" style="object-fit: fill;" >

                <div class="card-body">
                <h5 class="card-title"><%= artpiece.title %> </h5>
                <p class="card-text"><%= artpiece.artist %></p>
                <a href="/artpieces/<%= artpiece._id %>" class="stretched-link"></a>
                </div>
            </div>
        </div>
    <% }%>
  <% }%>
</div>

<script>
  console.log('into script');
  (function(){
      if( window.localStorage )
      {
      if( !localStorage.getItem('firstLoad') )
      {
          localStorage['firstLoad'] = true;
          window.location.reload();
      }  
      else
          localStorage.removeItem('firstLoad');
      }
  })();
</script>